* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.menu-var {
  display: flex;
  width: 1024px;
  height: 70px;
  margin: auto;
}

nav {
  margin-left: auto;
}

img.header.logo {
  height: 70px;
}

ul {
  display: flex;
  list-style: none;
  line-height: 70px;
}

.menu-link {
  padding: 0 30px;
}

.menu-name {
  color: #fff;
  text-decoration: none;
}
